@using IssueTracker.Application.Projects.Queries.GetProjects;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IQueryable<IssueTracker.Application.Projects.Queries.GetProjects.ProjectSummaryDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if ((await AuthorizationService.AuthorizeAsync(User, "ProjectManagement")).Succeeded)
{
    <div class="container" id="form-create-project">
        <form method="post" asp-controller="ProjectsAdmin" asp-action="Create">
            <div asp-validation-summary="All"></div>
            <div class="input-group">
                <input name="title" type="text" class="form-control" id="newProjectTitle" placeholder="My New Project Title">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
}

<div class="container">
    <table class="table table-dark table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col">@Html.DisplayNameForInnerType((ProjectSummaryDto p) => p.Id)</th>
                <th scope="col">@Html.DisplayNameForInnerType((ProjectSummaryDto p) => p.Title)</th>
                <th scope="col">@Html.DisplayNameForInnerType((ProjectSummaryDto p) => p.NumberOfMembers)</th>
            </tr>
        </thead>
        <tbody>
            @{
                var modelArr = Model.ToArray();
                for (int i = 0; i < modelArr.Length; i++)
                {
                    <tr>
                        <td class="text-end">@modelArr[i].Id</td>
                        <td style="width:99%" scope="row">@modelArr[i].Title</td>
                        <td class="text-center"><i class="bi bi-person-fill"></i> @modelArr[i].NumberOfMembers</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
