@using IssueTracker.Application.Projects.Queries.GetProjects;
@using IssueTracker.UI.Models.Projects;
@using Microsoft.AspNetCore.Authorization;

@model ProjectsSummaryListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-2">
    <table class="table table-dark table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col">@Html.DisplayNameForInnerType((ProjectSummaryDto p) => p.Id)</th>
                <th scope="col">@Html.DisplayNameForInnerType((ProjectSummaryDto p) => p.Title)</th>
                <th scope="col">@Html.DisplayNameForInnerType((ProjectSummaryDto p) => p.NumberOfMembers)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var projects = Model.Projects;
                for (int i = 0; i < projects.Count; i++)
                {
                    <tr>
                        <td class="text-end">@projects[i].Id</td>
                        <td style="width:99%" scope="row">@projects[i].Title</td>
                        <td class="text-center"><i class="bi bi-person-fill"></i> @projects[i].NumberOfMembers</td>
                        <td class ="text-center" style="vertical-align:middle">
                            <a asp-controller="Projects" asp-action="Details" asp-route-id=@projects[i].Id>
                                <i class="bi bi-box-arrow-in-up-right text-white"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
