@using IssueTracker.UI.Models.Admin;
@using IssueTracker.UI.Models.Projects;

@{
    ViewData["Title"] = "Manage";
}

<div id="app" class="row" v-cloak>
    @Html.AntiForgeryToken()
    <div class="text-center" v-if="loading">
        <h3>Loading...</h3>
    </div>
    <div v-else class="row">
        
        <div class="col-12 text-center">
            <div class="mt-2 d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-primary" v-on:click="UpdateProject()">
                    Update Project
                </button>
                <a asp-action="Index" class="btn btn-secondary text-white text-decoration-none">
                    Discard changes
                </a>
            </div>
            <div v-if="!editTitle" class="my-2 d-flex justify-content-center gap-3">
                    <h3 class="m-0">{{project.title}}</h3>
                    <button class="btn btn-secondary py-0" v-on:click="ToggleEditTitle"><i class="bi bi-pencil-square"></i></button>
            </div>
            <div v-else class="my-2 d-flex justify-content-center gap-3">
                <input type="text" class="form-control" v-model="newTitle"/>
                <button class="btn btn-success py-0" v-on:click="AcceptNewTitle"><i class="bi bi-check-circle"></i></button>
                <button class="btn btn-danger py-0" v-on:click="ToggleEditTitle"><i class="bi bi-x-circle"></i></button>
            </div>


        </div>
        <div class="col-lg-6">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="m-0">Members</h4>

                </div>
                <div class="my-2" style="width:20rem;">
                    <input type="text" placeholder="Search member.." class="form-control" v-model="memberFilter" />
                </div>
            </div>
            <div class="table-responsive" style="max-height:30rem;">
                <table class="table" id="users-table">
                    <thead class="bg-primary" style="position:sticky; top: -1px;">
                        <tr>
                            <th scope="col">@Html.DisplayNameForInnerType((UserAdminViewModel u) => u.Email)</th>
                            <th scope="col">@Html.DisplayNameForInnerType((UserAdminViewModel u) => u.FirstName)</th>
                            <th scope="col">@Html.DisplayNameForInnerType((UserAdminViewModel u) => u.LastName)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(member, index) in filteredMembers" :key="index" name="member-table-row">
                            <td style="vertical-align:middle">{{member.user.email}}</td>
                            <td style="vertical-align:middle">{{member.user.firstName}}</td>
                            <td style="vertical-align:middle">{{member.user.lastName}}</td>
                            <td class="text-center" style="vertical-align:middle">
                                <button type="button" class="btn btn-danger" v-on:click="DeleteMember(member)">
                                    <i class="bi bi-person-dash-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="m-0">Other Users</h4>

                </div>
                <div class="my-2" style="width:20rem;">
                    <input type="text" placeholder="Search user.." class="form-control" v-model="userFilter" />
                </div>
            </div>
            <div class="table-responsive" style="max-height:30rem;">
                <table class="table" id="user-table">
                    <thead class="bg-primary" style="position:sticky; top: -1px;">
                        <tr>
                            <th scope="col">@Html.DisplayNameForInnerType((UserAdminViewModel u) => u.Email)</th>
                            <th scope="col">@Html.DisplayNameForInnerType((UserAdminViewModel u) => u.FirstName)</th>
                            <th scope="col">@Html.DisplayNameForInnerType((UserAdminViewModel u) => u.LastName)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, index) in filteredUsers" :key="index" name="user-table-row">
                            <td style="vertical-align:middle">{{user.email}}</td>
                            <td style="vertical-align:middle">{{user.firstName}}</td>
                            <td style="vertical-align:middle">{{user.lastName}}</td>
                            <td class="text-center" style="vertical-align:middle">
                                <button type="button" class="btn btn-success" v-on:click="AddUserToProject(user)">
                                    <i class="bi bi-person-plus-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="~/js/projects/manage.js" type="module"></script>
}