@using IssueTracker.Application.Common.Models;
@using IssueTracker.UI.Models.Admin;

@model IEnumerable<UserDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="my-2" style="width:20rem;">
            <input type="text" placeholder="Search.." id="searchInput" onkeyup="filterFunction()" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div class="table-responsive" style="height:52vh;">
                <table class="table table-hover">
                    <thead class="bg-primary" style="position:sticky; top: -1px;">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">@Html.DisplayNameForInnerType((UserDto u) => u.Email)</th>
                        <th scope="col">@Html.DisplayNameForInnerType((UserDto u) => u.FirstName)</th>
                        <th scope="col">@Html.DisplayNameForInnerType((UserDto u) => u.LastName)</th>
                        <th scope="col">@Html.DisplayNameForInnerType((UserDto u) => u.RoleClaim)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var modelArr = Model.ToArray();
                        for (int i = 0; i < modelArr.Length; i++)
                        {
                            string id = modelArr[i].UserId;
                            string tableRowClass;
                            if (i % 2 == 0)
                            {
                                tableRowClass = "table-secondary";
                            }
                            else
                            {
                                tableRowClass = "table-dark";
                            }
                            <tr class="@tableRowClass" id="@id" name="table-row" data-id="@id" >
                                <td>@i</td>
                                <td>@modelArr[i].Email</td>
                                <td>@modelArr[i].FirstName</td>
                                <td>@modelArr[i].LastName</td>
                                <td>@modelArr[i].RoleClaim</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-xl-4 mh-xl-100 mh-50">
            <div id="partialViewPlaceholder" class="pt-xl-0 pt-3">
                <h6 class="text-center">
                    Please select user...
                </h6>
            </div>
            <div id="partialViewWithClaims">
            </div>
        </div>
    </div>
</div>

<script>
    var getClaimsURL = "@Url.Content("/Identity/Admin/GetUserClaims/")";
</script>
<script src="~/js/admin/user.js" ></script>
