@using IssueTracker.Domain.Entities;
@using IssueTracker.Domain.Enums;
@using IssueTracker.UI.Models.Issues;
@model CreateIssueViewModel

@{
    ViewData["Title"] = "Create New Issue";
}

<div class="row my-2 justify-content-center">

    <form method="post" asp-controller="Issues" asp-action="Create">
        @for (int i = 0; i < Model.ProjectMembersSelecList.Count; i++)
        {
            @Html.HiddenFor(model => Model.ProjectMembersSelecList[i].Text);
            @Html.HiddenFor(model => Model.ProjectMembersSelecList[i].Value);
        }    
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label mt-4">Issue Title</label>
                    <input asp-for="Title" type="text" app-invalid-if-errors="Title" class="form-control" placeholder="My New Project Title">
                    <span asp-validation-for="Title" class="invalid-feedback"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="descriptionTextArea" class="form-label mt-4">Description</label>
                    <textarea asp-for="Description" class="form-control" id="descriptionTextArea" rows="5"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="selectPriority" class="form-label mt-4">Select priority</label>
                    <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<PriorityLevel>()" class="form-select" id="selectPriority">
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectAssignedMembers" class="form-label mt-2">Assign memberss</label>
                    <select asp-for="AssignedMembersId" asp-items="@Model.ProjectMembersSelecList" class="form-select" id="selectAssignedMembers" size="4"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex gap-3 mt-4 justify-content-center">
                <button type="submit" class="btn btn-success px-5">Submit</button>
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId" class="btn btn-secondary text-white text-decoration-none">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>