@using IssueTracker.Domain.Enums;
@using IssueTracker.UI.HtmlHelpers;
@using IssueTracker.UI.Models.Issues;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
@model EditIssueViewModel

@{
    ViewData["Title"] = $"Edit Issue #{Model.Id}";
}

<article class="card mt-2">
    <form method="post" asp-controller="Issues" asp-action="Edit">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ProjectId)
        <div class="card-header">
            <div class="d-flex justify-content-between gap-1">
                <div class="form-group">
                    <input asp-for="Title" type="text" app-invalid-if-errors="Title" class="form-control">
                    <span asp-validation-for="Title" class="invalid-feedback"></span>
                </div>
                <div class="d-flex gap-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary d-flex justify-content-center align-items-center" style="width:10px;"
                                role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a href="#" class="dropdown-item">
                                    <i class="bi bi-person-fill-gear me-2"></i>Manage Members
                                </a>
                            </li>
                            <li>
                                <button class="dropdown-item @(await DisableIfNotHaveRoleClaimAsync())" type="button" data-bs-toggle="modal" data-bs-target="#deleteIssueModal">
                                    <i class="bi bi-trash me-2"></i>Delete Issue
                                </button>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-success d-flex align-items-center" href=""><i class="bi bi-check-lg text-white"></i></button>
                    <a class="btn btn-danger d-flex align-items-center" asp-controller="Issues" asp-action="Details" asp-route-projectid="@Model.ProjectId" asp-route-id="@Model.Id"><i class="bi bi-x-lg text-white"></i></a>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="row gx-5">
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelOverLine("Description", "bi-info-circle")
                        <textarea asp-for="Description" class="form-control" id="descriptionTextArea" rows="10"></textarea>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        @Html.LabelOverLine("Status", "bi-question-circle")
                        <select asp-for="Status" asp-items="@Html.GetEnumSelectList<WorkingStatus>()" class="form-select" id="selectStatus">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="form-group">
                        @Html.LabelOverLine("Priority", "bi-exclamation-triangle", "selectPriority")
                        <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<PriorityLevel>()" class="form-select" id="selectPriority">
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer text-muted">
        </div>
    </form>

</article>

<div class="modal fade" id="deleteIssueModal" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    <div class="form-group">
                        <span class="text-wrap">Please confirm deleting this issue.</span>
                    </div>
                <div class="d-flex justify-content-center" data-error-message>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button data-confirm-delete data-id="@Model.Id" data-projectId="@Model.ProjectId" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="module" src="~/js/dist/issue/edit_delete.js"></script>
}

@{
    async Task<string> DisableIfNotHaveRoleClaimAsync(){
        var result = await AuthorizationService.AuthorizeAsync(User, "ProjectManagement");
        if (result.Succeeded)
            return "";
        return "disabled";
    }
}